.news {
    background-color: #b1b1b1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 12%;
    padding-right: 12%;
}
.newsimg {
    width: 100%;
    border-radius: 15px;
    box-shadow: 3px 5px 5px rgb(85, 85, 85);
}
.newsimg:hover {
    filter: brightness(1.3);
    box-shadow: none;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 810px) {
    .news {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .newsimg {
        width: 80%;
    }
}
